/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
:root {
  --bg: #fff;
  --text-white: #000000;
  --grad-one: #ff469f;
  --grad-two: #ff6062;
  --grad-one-rgba: 255, 70, 159;
  --grad-two-rgba: 255, 97, 100;
  --hover: #ff5ea2;
  --but-one: #fb5283;
  --but-two: #ff3527;
  --grad-three: #ff469f;
  --h3: #707070;
  --p: #b7b7b7;
  --check: 0;
  --fbCol: #3b5998;
  --igCol: #c13584;
  --twCol: #1d9bf0;
}
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Red Hat Display", sans-serif;
  /* border: 1px red solid; */
}
body {
  background-color: var(--bg);
  transition: 0.3s;
}
.dark {
  --bg: #1e1e1e;
  --text-white: #fff;
  --grad-one: #142136;
  --grad-two: #1c1e7d;
  --grad-one-rgba: 28, 30, 125;
  --grad-two-rgba: 20, 33, 54;
  --grad-three: #4445a2;
  --hover: #978dc6;
  --but-one: #303948;
  --but-two: #272865;
  --h3: #978dc6;
  --p: #e9e9e9;
  --check: 1;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none;
  transition: 0.5s;
  backdrop-filter: grayscale(0.2) blur(5px);
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.night-mode {
  width: 35px;
  margin: 30px 0 0 10px;
  cursor: pointer;
  filter: invert(var(--check));
  transition: 0.3s;
  border-radius: 50%;
}
.night-mode:hover {
  transform: scale(1.1);
  /* opacity: 0.666; */
  box-shadow: 0 0 5px black;
}
.night-mode:active {
  transform: scale(0.9);
  opacity: 0.8;
}
.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
  filter: invert(var(--check));
  z-index: 5;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-white);
  font-size: 14px;
}
.highlighted {
  color: var(--grad-three) !important;
}
.delitel {
  position: relative;
  display: inline-block;
  left: 15px;
  top: 3px;
  width: 1.5px;
  height: 15px;
  border-radius: 5px;
  background-color: var(--text-white);
}
nav ul li a:hover {
  color: var(--hover) !important;
  transition: 0.233s;
}
.rows {
  position: relative;
  display: flex;
  /* width: 200vw; */
  /* display: flex; */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  transition: margin 0.5s;
}
.col-1 {
  animation: 1.3s 0s 1 slideInFromLeft;
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(to right, var(--grad-one), var(--grad-two));
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-1 h2 {
  color: var(--text-white);
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: var(--h3);
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p {
  font-size: 16px;
  color: var(--p);
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
  color: var(--text-white);
}
.col-1 button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, var(--but-one), var(--but-two));
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
  transform-origin: left;
  opacity: 0.93;
  animation: breathing 5s linear infinite normal;
}
.col-1 button img {
  width: 35px;
  display: none;
}
.col-1 button:hover img {
  animation: breathing 5s linear infinite normal;
  display: block;
}
.col-1 button:hover {
  /* box-shadow: 0 0 2px var(--text-white); */
  width: 160px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-2 {
  animation: 1.3s 0s 1 ease-out slideInFromRight;
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .controller {
  animation: breathing 5s linear infinite normal;
  width: 90%;
  transition: transform 2s;
}
.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, var(--grad-one), var(--grad-two));
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}

.add-btn img {
  width: 35px;
  margin-bottom: 5px;
}
.add-btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.add-btn:hover {
  transform: scale(1.05);
  transition: 0.1s;
  opacity: 0.8;
}
.social-links img {
  height: 14px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-links img:nth-child(1):hover {
  transform: scale(1.5);
  filter: invert();
}
.social-links img:nth-child(2):hover {
  transform: scale(1.5);
}
.social-links img:nth-child(3):hover {
  transform: scale(1.5);
}

.social-links img:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.social-links {
  margin-top: 70px;
  filter: invert(var(--check));
  text-align: center;
}
@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(var(--grad-one-rgba), 0.1),
      rgba(var(--grad-two-rgba), 0.1)
    );
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    /* text-align: center; */
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }
  .row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-2 .controller {
    width: 77%;
  }
  .color-box {
    transform: translate(75px);
  }
  .col-1 {
    flex-basis: 100%;
  }
  .col-1 h2 {
    font-size: 35px;
  }
  .col-1 h3 {
    font-size: 15px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  55% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes breathing {
  0% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1.03);
  }
}
